.box-carrossel {
    width: 100%;

}

.carrosseis {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.bloco {
    border-radius: 28px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 400px;
    z-index: 0;
    background-size: contain;
}

.carrossel-1, .carrossel-3, .carrossel-4 {
    width: 340px;
    opacity: 0;
    filter: blur(2px) brightness(0.6);
    
}

.carrossel-1 {
    left: 0%;
    transform: translateX(-50%);
}

.carrossel-2 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.carrossel-3 {
    left: 50%;
    transform: translateX(-50%);
}


.carrossel-4 {
    left: 100%;
    transform: translateX(-50%);
}


.carrossel-controls button {
    color: #fff;
    background-color: gray;

    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.carrossel-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}