.box-carrossel-pages {
    width: 100%;

}

.carrossel-pages {
    align-items: center;
    display: flex;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.img-carrossel-pages {
    border-radius: 28px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 530px;
    z-index: 0;
    background-size: contain;
}

.pages-item-1, .pages-item-2 {
    transition: .4s;
}

.pages-item-1 {
    width: 440px;
    opacity: .8;
    filter: blur(2px) brightness(0.6);
}

.pages-item-1 {
    left: 0%;
    transform: translateX(-50%);
}

.pages-item-2 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* .pages-item-3 {
    left: 70%;
    transform: translateX(-50%);
} */


.pages-item-2 {
    width: 340px;
}

.pages-item-1, .pages-item-3{
    width: 280px;
}


@media (max-width:600px) {
    .pages-item-1, .pages-item-3 {
        width: 210px;
    }

    .pages-item-4 {
        width: 150px;
    }

    .pages-item-2 {
        width: 240px;
    }
}