@import url('https://fonts.cdnfonts.com/css/gotham-6');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    background-image: url('../assets/background.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}


/*header*/
.bar-social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.bar-social-media p {
    font-size: 24px;
    width: max-content;
    font-weight: 300;
}

.bar-social-media p span {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}

.icon {
    margin: 0 35px;
}

.icon:hover {
    transform: scale(1.1);
}
/*header*/

/*container*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.box-text p {
    font-weight: 300;
}

.box-text p span {
    font-weight: 400;
}

.titles {
    margin: 35px 0;
}

#title-one, #title-two {
    font-size: 64px;
}

#title-one {
    background: linear-gradient(180deg, #00C9FF 0%, #3661FF 45.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    column-gap: 10px;
    max-width: 720px;
}

.list li {
    font-size: 19px;
    font-weight: 300;
    width: max-content;
    margin-left: 25px;
}

.box-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#button-request {
    width: 400px;
    height: 60px;
    color: #000;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 40px;
}

#button-request {
    background: linear-gradient(90deg, rgba(0,202,255,1) 0%, rgba(51,99,255,1) 100%);
    transition: .5s;
}

#button-request:hover {
    color: #fff;
    box-shadow: 0px 0px 40px rgba(0,202,255,1);
}

.card {
    width: 400px;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: .5s;
}

.card:hover {
    transform: scale(1.1);  
    box-shadow: 0px 0px 160px rgb(0, 32, 138);
}
/*container*/

/*footer*/
.footer {
    width: 100%;
    border-top: 1px solid #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 25px;
    font-weight: 300;
}
/*footer*/

@media (max-width:1024px) {
    .container {
        gap: 20px;
    }

    .card {
        width: 250px;
    }
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        gap: 0;
    }

    .box-links {
        flex-direction: row;
        justify-content: space-around;
        gap: 12%;
    }

    #title-one, #title-two {
        font-size: 53px;
        width: max-content;
    }

    .titles {
        margin: 5px 0;
    }

    #button-request {
        margin: 20px 0;
    }

    .footer {
        height: 60px;
    }

    .footer p, .bar-social-media p, .bar-social-media p span {
        font-size: 15px;
        text-align: center;
    }
    
    .icon {
        margin: 0 15px;
    }
}

@media (max-width:600px) {
    #title-one, #title-two {
        font-size: 43px;
    }

    .box-links {
        gap: 15px;
        flex-direction: column;
    }
    
    .card {
        width: 290px;
    }
    .list li {
        font-size: 15px;
    }
}

@media (max-width:480px) {
    #title-one, #title-two {
        font-size: 33px;
    }
    
    .list {
        width: min-content;
        grid-template-columns: 1fr;
    }

    .titles {
        width: min-content;
    }

    .box-text p {
        width: 250px;
    }

    #button-request {
        width: 285px;
        font-size: 20px;
    }

    #title-two {
        font-size: 27px;
    }

    .icon {
        width: 20px;
    }

    .box-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}