#servicos {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
}

.box-servicos-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#logo-servicos {
    height: 70px;
    filter: grayscale(1) brightness(0%) invert(1);
}

.box-servicos-text h3 {
    font-size: 64px;
    border-left: #00CAFF solid 2px;
    padding-left: 50px;
}

.box-servicos-text h3 span {
    background: linear-gradient(92deg, #00CAFF 48.64%, #3363FF 99.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-cards-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card-servicos {
    width: 320px;
    height: 520px;
    border: #00CAFF 2px solid;
    border-radius: 8px;
}